<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SP_INSERT" value="INSERTPERSON"/>
    <add key="SP_SEARCHANY" value="SEARCHPERSONANY"/>
    <add key="SP_DELETEMULTIPLE" value="DELETEPERSONS"/>
    <add key="SP_SELECTPERSON" value="SELECTPERSON"/>
    <add key="SP_UPDATEPERSON" value="UPDATEPERSON"/>
  </appSettings>
  <connectionStrings>
    <add name="phonebook" connectionString="Data Source=.; Initial Catalog=phonebook; trusted_connection=true"/>
  </connectionStrings>
</configuration>